body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse; /* retira espaços entre colunas e linhas */
}

th, td {
     padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: .1; /* Espaço entre letras */
}

tr:nth-child(even) {
    background: #CCC
}

td:last-child, th:last-child {
    text-align: right;
}

tr:hover {
    background-color: #c3e6e5;
}