<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="brand">BRAND</div>
        <div id="content">
            <div id="content-main">
                <h2>Cool contents</h2>
                <img src="images/natureza.jpg" alt="nature" class="img-news">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue tempus nunc, nec mattis nulla mattis vitae. Fusce vel odio lectus. Donec efficitur at tellus eget imperdiet. Fusce aliquet id libero iaculis dictum. Integer condimentum in leo vel malesuada. Sed auctor enim lacus, ac cursus est sodales pellentesque. Curabitur pellentesque augue sapien, at scelerisque metus congue sed. Praesent sagittis porta iaculis. Duis posuere ligula vel orci placerat, vitae pharetra ante imperdiet. </p>
            </div>
            <div id="content-aside">
                <h2>Cool contents</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue tempus nunc, nec mattis nulla mattis vitae. </p>
            </div>
        </div>
        <div id="navbar">
            <ul>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
            </ul>
        </div>
        <div id="footer">footer</div>
    </div>
</body>
</html>