/* NOTA DO EDITOR: 
    a soma dos width dos elementos 
    dentro do container somadas dão o tamanho do container 

    todos os tamanhos são determinados por pixel, assim ficando fixos
*/

body {
    background-color: #f2f2f2;
}

#container {
    width: 85%; /* 720px */
    margin: 0 auto;
    background-color: #fff;
    min-width: 720px;
    max-width: 1280px;
}

#brand {
    width: 100%;
    height: 200px;
    background: #225992 url(images/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

/*
#image {
    width: 90%;
    overflow: hidden;
}
*/


#content {
    width: 75%; /* 520px -> 75% */
    float: right;
}

#content-main {
    width: 64% ; /* 320px -> 64% */
    float: left;
}

img.img-news {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#content-aside {
    width: 34%; /* 180px -> 36% */
    float: right;
    background-color: #d1d1d1;
}

#content-aside h2,
#content-aside p {
    padding: 0 20px;
}

#navbar {
    width: 23%; /* 180px -> 25% */
    float: left;
    padding: 20px 0;
    background-color: #d1d1d1;
}

#footer {
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}