ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 720px;
    background: #159cb0 url(fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(divisor.png) repeat-y left top;
}

ul .first a {
    background: none;
}

ul a:hover, 
#home #navbar .home a,
#about #navbar .about a,
#services #navbar .services a,
#news #navbar .news a,
#contact #navbar .contact a {
    background-position: right bottom;
    color: #085622;
    background: #44cade;
}