<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Parallax</title>
</head>
<body>
    <div class="parallax image1">
        <div class="parallax-title">
            <span class="title">Passeio de Balões</span>
        </div>
    </div>
    <div class="content">
        <h3>Parallax</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
    </div>
    <div class="parallax image2">
        <div class="parallax-title">
            <span class="title">Pegando a estrada</span>
        </div>
    </div>
    <div class="content">
        <h3>Parallax</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
    </div>
    <div class="parallax image3">
        <div class="parallax-title">
            <span class="title">Pôr do sol</span>
        </div>
    </div>
    <div class="content">
        <h3>Parallax</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
    </div>
    <div class="parallax image4">
        <div class="parallax-title">
            <span class="title">Montanhas</span>
        </div>
    </div>
    <div class="content">
        <h3>Parallax</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
    </div>
    <div class="parallax image5">
        <div class="parallax-title">
            <span class="title">Mar</span>
        </div>
    </div>
    <div class="content">
        <h3>Parallax</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique est, molestie efficitur felis.</p>
    </div>
    <div class="parallax image6">
        <div class="parallax-title">
            <span class="title">Praia</span>
        </div>
    </div>
    
</body>
</html>